.bodyStyle{
    background-color: #8fd8d2 ;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT4Cf1LlPTCeNdE21wznMF1u10qFQoBFNPLhpzOw_mJQ&s") no-repeat center center fixed;
  background-size: cover;
}
.Text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;    
}
.higlightLabel{
    font-size: 50px;
    color: black;
}
.higlightLabel:hover{
    text-decoration: underline;
    text-decoration-color: red;
}